In [77]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score

data = pd.read_csv('/Users/username/Downloads/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [79]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [80]:
data['species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: species, dtype: int64

In [81]:
rows, col=data.shape
print("Rows: %s, column : %s" %(rows,col))

Rows: 150, column : 5

In [87]:
mapping = {
    'Iris-setosa' : 1,
    'Iris-versicolor' : 2,
    'Iris-virginica' : 3
}

X =data.drop(['species'], axis=1).values
y = data['species'].replace(mapping).values.reshape(rows,1)
data2 = np.column_stack((X,y))
y2 = data['species'].replace(mapping).values

X= np.hstack(((np.ones((rows,1))),X))

In [89]:
y2

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [84]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [92]:
y_pred = regressor.predict(data2)
y_pred

array([[1.39369454],
       [1.44964746],
       [1.43127424],
       [1.43444893],
       [1.38250395],
       [1.38263735],
       [1.42774963],
       [1.40087717],
       [1.46083805],
       [1.41158443],
       [1.36730542],
       [1.39686923],
       [1.42678296],
       [1.43880681],
       [1.34575751],
       [1.33470033],
       [1.39866915],
       [1.41655904],
       [1.37096344],
       [1.37897933],
       [1.39286128],
       [1.41303442],
       [1.39853575],
       [1.47264537],
       [1.38484538],
       [1.44163157],
       [1.44259823],
       [1.38968659],
       [1.40488512],
       [1.4192504 ],
       [1.43044098],
       [1.44660618],
       [1.29967857],
       [1.31536044],
       [1.43444893],
       [1.43528219],
       [1.39770249],
       [1.35963945],
       [1.45365541],
       [1.40087717],
       [1.42056699],
       [1.55485401],
       [1.43127424],
       [1.47713665],
       [1.38581204],
       [1.47251197],
       [1.35210688],
       [1.42726629],
       [1.36730542],
       [1.41607571],
       [2.17863007],
       [2.20951047],
       [2.20466927],
       [2.28453648],
       [2.25026487],
       [2.20854381],
       [2.21316849],
       [2.23280803],
       [2.19334528],
       [2.26664659],
       [2.26955447],
       [2.24391549],
       [2.22713356],
       [2.21220183],
       [2.23342476],
       [2.20184451],
       [2.23189165],
       [2.16717268],
       [2.32141633],
       [2.22043425],
       [2.26608014],
       [2.22858355],
       [2.27181278],
       [2.17766341],
       [2.20536912],
       [2.21303509],
       [2.21938447],
       [2.25758091],
       [2.24308223],
       [2.20241096],
       [2.23563279],
       [2.21677623],
       [2.22091759],
       [2.26428021],
       [2.23189165],
       [2.20999381],
       [2.21268516],
       [2.26850469],
       [2.20219443],
       [2.26215531],
       [2.21206843],
       [2.20501919],
       [2.22810022],
       [2.24399861],
       [2.23175824],
       [2.17532198],
       [2.20937707],
       [2.20536912],
       [2.25650579],
       [2.22457561],
       [2.97609774],
       [2.94212577],
       [2.92221943],
       [2.87684036],
       [2.94909189],
       [2.89416379],
       [2.94282563],
       [2.84878472],
       [2.9135868 ],
       [2.93851804],
       [2.90903735],
       [2.93410988],
       [2.93825123],
       [2.9913794 ],
       [3.0452577 ],
       [2.96961496],
       [2.86965772],
       [2.82349567],
       [2.9726313 ],
       [2.91062864],
       [2.95358317],
       [2.96181559],
       [2.88967251],
       [2.92727717],
       [2.89666358],
       [2.82723681],
       [2.92009453],
       [2.89370541],
       [2.95662445],
       [2.81190487],
       [2.8908557 ],
       [2.78979051],
       [2.97948895],
       [2.83947718],
       [2.8189541 ],
       [2.95993254],
       [2.95807445],
       [2.85846714],
       [2.89771336],
       [2.93106859],
       [2.9916462 ],
       [2.98882144],
       [2.94212577],
       [2.94556727],
       [2.98812159],
       [2.99600408],
       [2.96851489],
       [2.92741057],
       [2.94322584],
       [2.88568952]])

In [97]:
accuracy = regressor.score(data2,y_pred)
print(accuracy*100,'%')

100.0 %